h2 {
    color:goldenrod;
    font-style:italic;
    font-size: 45px;
    margin-left: 200px;
}
.credit {
    font-style: italic;
    color:seagreen;
    margin-left: 200px;
}
div{
    font-family:Georgia, 'Times New Roman', Times, serif;
    border: width 5px;
}
#haikyuu {
    width:650px;
    height:500px
}
#KnB {
    width: 750px;
    height:500px
}
.animelist {
    color:purple;
}
h3 {
    color: purple;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style:oblique;
    border-style: groove;
    background-color: darkorange;
    text-align:center;
}
ul {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    border-style: groove;
    background-color: darkorange;
}
.Genre {
    border-style:groove;
    background-color: pink;
    font-style: oblique;
    color:red;
    font-size: 30px;
}
.paragraph {
    margin-right: 20 px;
    background-color: silver;
    font-size: 30px;
}
#April  {
    float: right;
    width: 300px;
    height: 200px;
}
p1 {
    margin-left:200px;
    color: goldenrod
}
.link {
    text-align:center;
}