h2 {
    color:goldenrod;
    font-style:italic;
    font-size: 45px;
}
div{
    color:blue;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-color:red;
    border: width 5px;
    border-style:solid;
    background-color: aquamarine;
}
#haikyuu {
    width:650px;
    height:500px
}
#KnB {
    width: 750px;
    height:500px
}
.animelist {
    color:purple;
}
h3 {
    color: purple;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style:oblique;
    border-style: groove;
    background-color: darkorange;
}
ul {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    border-style: groove;
    background-color: darkorange;
}